<a href="https://colab.research.google.com/github/HakeemSalaudeen/PYTHON-FOR-DATA-ANALYSIS-/blob/main/DATA_STRUCTURES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **DATA STRUCTURES**


*   LIST
*   TUPLE
*   DICTIONARY
*   SET

# **LIST**

In [ ]:
## A list is a collection of values that can be of the same data type or not
#List is declared using square brackets []

My_list = []                                                     #empty list
My_list1 = [1,2,3,4,5,6]                                          #list are seperated by comma
My_list2 = ['akym',2,3.0,4,True,6,False]                                #list with diff data type
My_list3 = [5,4,5,9,8,7,44,56,6,55,65,1,255,45,6,8,5,4]
My_list4 = [5,4,5,9,8,7,44,56,6]
My_list5 = [55,65,1,255,45,6,8,5,4]



print(My_list)
print(My_list1)
print(My_list2)
print(My_list2 [0])                                                 #accessing the list using indexing

first_name = My_list2[0]                                              #accessing the list using indexing and variable
print(first_name)

last_item = My_list2[-1]                                              #accessing the list from the last item
print(last_item)

[]
[1, 2, 3, 4, 5, 6]
['akym', 2, 3.0, 4, True, 6, False]
akym
akym
False

In [ ]:
#changing the item of a list using indexing
My_list2[0] = 'tobi'
My_list2[-1]= 888
print(My_list2)

['tobi', 2, 3.0, 4, True, 6, 888]

In [ ]:
## how to find the length of a list

length = len(My_list)
length1 = len(My_list2)
length2 = len(My_list1)
length3 = len(My_list3)

print(length)
print(length1)
print(length2)
print(length3)

0
7
6
18

In [ ]:
## how to insert an item into a list

My_list2.append('akym')
My_list2.append('akymm')
My_list2.append('salaudeen')

print (My_list2)

['tobi', 2, 3.0, 4, True, 6, 888, 'akym', 'akym', 'akymm', 'akym', 'akymm', 'salaudeen']

In [ ]:
##How to sort a list using sort
#.sort affects the original list
#we dont create a variable for sort
## note: sort is a method, sorted is a function

My_list3.sort()
print(My_list3)

[1, 4, 4, 5, 5, 5, 6, 6, 7, 8, 8, 9, 44, 45, 55, 56, 65, 255]

In [ ]:

##How to sort a list using sorted
#.sorted does affects the original list
#that why we are putting it in a variable
## note: sort is a method, sorted is a function

sorted_list = sorted(My_list3)
print(sorted_list)

[1, 4, 4, 5, 5, 5, 6, 6, 7, 8, 8, 9, 44, 45, 55, 56, 65, 255]

In [ ]:
##How to reverse a list using reverse
#function

My_list3.reverse()
print(My_list3)

[255, 65, 56, 55, 45, 44, 9, 8, 8, 7, 6, 6, 5, 5, 5, 4, 4, 1]

In [ ]:
## Adding a list to a list
  #using the + method

My_list6 = My_list5 + My_list4
print(My_list6)

[55, 65, 1, 255, 45, 6, 8, 5, 4, 5, 4, 5, 9, 8, 7, 44, 56, 6]

In [ ]:
## Adding a list to a list
#using the extend method (preferable)

My_list5.extend(My_list4)
print (My_list5)

['akym', 2, 4, True, 6, False, 1, 2, 3, 4, 5, 6, [1, 2, 3, 4, 5, 6, [5, 4, 5, 9, 8, 7, 44, 56, 6, 55, 65, 1, 45, 6, 8, 5, 4]], 5, 4, 5, 9, 8, 7, 44, 56, 6, 55, 65, 1, 45, 6, 8, 5, 4]

In [ ]:
## Adding a list to a list
  #using the apend method

My_list6.append(My_list4)
print (My_list6)

[55, 65, 1, 255, 45, 6, 8, 5, 4, 5, 4, 5, 9, 8, 7, 44, 56, 6, [5, 4, 5, 9, 8, 7, 44, 56, 6, 55, 65, 1, 45, 6, 8, 5, 4], [5, 4, 5, 9, 8, 7, 44, 56, 6, 55, 65, 1, 45, 6, 8, 5, 4]]

In [ ]:
## To copy(refrencing) a list
  #using =

My_list7 = My_list6
print(My_list7)

#using copy method (preferable)
My_list8 = My_list6.copy()
print(My_list8)

[55, 65, 1, 255, 45, 6, 8, 5, 4, 5, 4, 5, 9, 8, 7, 44, 56, 6, [5, 4, 5, 9, 8, 7, 44, 56, 6, 55, 65, 1, 45, 6, 8, 5, 4], [5, 4, 5, 9, 8, 7, 44, 56, 6, 55, 65, 1, 45, 6, 8, 5, 4]]
[55, 65, 1, 255, 45, 6, 8, 5, 4, 5, 4, 5, 9, 8, 7, 44, 56, 6, [5, 4, 5, 9, 8, 7, 44, 56, 6, 55, 65, 1, 45, 6, 8, 5, 4], [5, 4, 5, 9, 8, 7, 44, 56, 6, 55, 65, 1, 45, 6, 8, 5, 4]]

In [ ]:

## how to index a list that is inside another list

#My_list8[0][0]

In [ ]:
## To remove an item from a list
My_list8.remove(8)
print(My_list8)                       #The remove function affected list3

## To remove an item from a list
My_list5.remove(3)
print(My_list3)                       #The remove function doesnt affected list2

[65, 6, 5, 4, 5, 4, 5, 9, 8, 7, 44, 56, 6, [5, 4, 5, 9, 8, 7, 44, 56, 6, 55, 65, 1, 45, 6, 8, 5, 4], [5, 4, 5, 9, 8, 7, 44, 56, 6, 55, 65, 1, 45, 6, 8, 5, 4]]

In [ ]:
 ##To delete an item
  #using pop method
My_list7.pop()

  #using pop and index
index_popped = My_list5.pop(0)
print (index_popped)

 #using remove method
      #it doesnt use index, it use value
      #when you use remove, it remove the first occurence of the value
      #remove wont the resukt out unlike pop, it will just remove it

My_list4.remove(8)


 #using del keyword function method
del My_list4 [1]

akym

In [ ]:
print(My_list)
print(My_list1)
print(My_list2)
print(My_list3)
print(My_list4)
print(My_list5)

In [ ]:
my_list9 = [23,58,596,4858,569,76,7485]

print (my_list9)

[23, 58, 596, 4858, 569, 76, 7485]

In [ ]:
## How to clear a list entirely
my_list9.clear()

print(my_list9)

[]

# **Introduction to Tuple**

---



---



A TUPLE IS A COLLECTION OF DATA OR VALUES OF ANY DATA TYPE


*   NOTE: Tuple uses '( )' while list use '[ ]'
*   Tuple is immutable, i.e once created, it values cannot be changedTuple is immutable, i.e once created, it values cannot be changed
*   List item

In [ ]:
#Tuple declaration
my_tuple = ()
type (my_tuple)

tuple

In [ ]:
## Inserting values into a Tuple by seperating each values with a comma

my_tuple1 = (2)
my_tuple2 = (2,)
my_tuple3 = (2,5,2,4,6,2,5)                                               #A tuple with same data type
my_tuple4 = (True, 'tobi','akym',55,11,33,5)                                #A tuple with diff data type
my_nested_tuple5 = ((2,5),(2,4),(6,2),(5,55))                                         #A nested tuple



print (my_tuple1)
print (my_tuple2)
print (my_tuple3)
print (my_tuple4)
print(my_nested_tuple5)

type (my_tuple1)
type (my_tuple2)
type (my_tuple3)

2
(2,)
(2, 5, 2, 4, 6, 2, 5)
(True, 'tobi', 'akym', 55, 11, 33, 5)
((2, 5), (2, 4), (6, 2), (5, 55))

tuple

Accessing a tuple is done using indexing

In [ ]:
#accessing a tuple
print (my_tuple3[3])

4

In [ ]:
##counting a tuple
#count the number of occurence of an item in a tuple

print(my_tuple3.count(2))                   ## it will count how many times 2 appreared in the tuple

##Length of an item in a tuple
length = len(my_tuple3)
print (length)

3
7

# **SETS**


*   Sets is also a collection of values
*   Sets do not accept duplicate
*   Sets is declared with '{  }'
*   The same way you create a Set is the same way you create a dictionary
*   Dictionary have KEY VALUE PAIRS, Set does not have
*   When you declare a Set without putting a variable, it appears as a dictionary
*   Python reconize both Sets and Dictionary with { }
*   Set will scatter the items in {} after you print which makes it difficult when accessing the items in a set.

In [ ]:
My_sets = {True, 'tobi','akym',55,11,33,5}

print (type (My_sets))                #3data structure
print (My_sets)                       ## it will scatter the results that came out after you print

<class 'set'>
{True, 33, 'akym', 5, 55, 11, 'tobi'}

In [ ]:
dic = {}
type (dic)

dict

In [ ]:
# adding a value to a set
#using add method

My_set1 = {'orange', 'apple', 'mango'}
My_set1.add ('grape')

print (My_set1)

{'apple', 'mango', 'grape', 'orange'}

In [ ]:
## adding a set to a set
#using the update method

my_set2 = {'watermelon','lemon'}
My_set1.update (my_set2)       #we use update to add to a set

print (My_set1)

{'lemon', 'apple', 'mango', 'watermelon', 'grape', 'orange'}

In [ ]:
##duplicate in a set

My_set8= { 1,3,3,2,4,4,4,4}                # it doesnt allow duplicate
print (My_set8)

{1, 2, 3, 4}

In [ ]:
#SET UNION
#adding a set to a set

Set_7 = My_set1.union(my_set2)                  #union joins the set together

print ( Set_7 )

#set intersection

Set_8 = My_set1.intersection(my_set2)           # intersection finds the item that is in both set

print ( Set_8 )

#set difference                                 # difference gives us the item that isnt in both set (opposite of intersection)

Set_9= My_set1.difference (my_set2)

print ( Set_9)

#set symmetric difference                               (opposite of intersection I.e it gives us what they don’t av in common

Set_10 = My_set1.symmetric_difference (my_set2)

print ( Set_10)

{'lemon', 'apple', 'mango', 'watermelon', 'grape', 'orange'}
{'lemon', 'watermelon'}
{'apple', 'mango', 'grape', 'orange'}
{'apple', 'mango', 'grape', 'orange'}

# ***HOW TO CONVERT DATA STRUCTURES ***

In [ ]:
#from one data structures to the other
#convert a set to a Tuple

Tuple3 = tuple (Set_7)

print (type (Tuple3), Tuple3 )

#convert a tuple to a set
Sett3 = set (Tuple3)

print (type (Sett3), Sett3 )

#convert a set to a list
Listt3 = list (Sett3)

print (type (Listt3), Listt3 )

<class 'tuple'> ('lemon', 'apple', 'mango', 'watermelon', 'grape', 'orange')
<class 'set'> {'apple', 'mango', 'grape', 'watermelon', 'lemon', 'orange'}
<class 'list'> ['apple', 'mango', 'grape', 'watermelon', 'lemon', 'orange']

# ***DICTIONARY ***

*  DIC COLLECT DATA IN KEY VALUE PAIR
*   Dictionary is more like a data structure
*  Whatever is before the column is called the Key, and whatever is outside the column is called the value
* More like the key is a variable name
*  Is like you’re declaring a variable inside the { }, but the variable you’re declaring is a key value
*   When we use dictionary? …..your full table (in excel) is a dictionary,

*  we can create a table out of a dictionary
*   dictionary doesnt accept duplicate

In [ ]:
#declaration of a dict

My_dict = { }
type ( My_dict)

dict

In [ ]:
#adding a value to a dict and separating each item with a comma

my_dict = {'Name' : 'Akym', 'Age' : 26, 'Marital_status' : True, 'Height' : 70.8}

print (my_dict)

{'Name': 'Akym', 'Age': 26, 'Marital_status': True, 'Height': 70.8}

In [ ]:
#how to accesss an item in a dictionary using a key

print (my_dict ['Name'])                    #we use the key value to access an item in a dictionary

name = my_dict ['Name']                     #another way
age = my_dict ['Age']
Marital_status = my_dict ['Marital_status']
Height = my_dict ['Height']

print (name, age, Marital_status, Height)

Akym
Akym 26 True 70.8

In [ ]:
#how to modify the value in a dictionary

my_dict ['Name'] = 'akym tobi'

my_dict ['Age']  = 27

print (my_dict)

{'Name': 'akym tobi', 'Age': 27, 'Marital_status': True, 'Height': 70.8}

In [ ]:
#how to add new key and value to an existing dictionary

my_dict [ 'occupation'] = 'data analyst'

print (my_dict)
print (my_dict ['occupation'])

{'Name': 'Akym', 'Age': 26, 'Marital_status': True, 'Height': 70.8, 'occupation': 'data analyst'}
data analyst

In [ ]:
#How to remove a key and a value from a dict

my_dict.pop ('Height')              #remove a specified key and a value

70.8

In [ ]:
#how to see just the keys in a dict

keys_in_the_dict = my_dict.keys()

print(keys_in_the_dict)
print(list (keys_in_the_dict))            #to remove the "dict_key" in the previous result (by coverting it to a list)

dict_keys(['Name', 'Age', 'Marital_status', 'Height'])
['Name', 'Age', 'Marital_status', 'Height']

In [ ]:
#how to get the values in a dict

Values_in_the_dict = my_dict.values()

print(Values_in_the_dict)
print(list (Values_in_the_dict))                   #to remove the "dict_key" in the previous result (by coverting it to a list)

dict_values(['Akym', 26, True, 70.8])
['Akym', 26, True, 70.8]

In [ ]:
#how to get both the values and keys together

items_in_the_dict = my_dict.items()

print(items_in_the_dict)
print(list (items_in_the_dict))                   #to remove the "dict_key" in the previous result (by coverting it to a list)

dict_items([('Name', 'Akym'), ('Age', 26), ('Marital_status', True), ('Height', 70.8), ('occupation', 'data analyst')])
[('Name', 'Akym'), ('Age', 26), ('Marital_status', True), ('Height', 70.8), ('occupation', 'data analyst')]

In [ ]:
print(my_dict ['Name'])

#how to access a dictionary using GET method

Name_of_the_person = my_dict.get('Name')            #helps us avoid errors
Age_of_the_person = my_dict.get('Age')
Not_a_key = my_dict.get('size')                   #get will give none cus there is no size in the dict

print (Name_of_the_person, Age_of_the_person)
print ( Not_a_key)                                      #get will give none cus there is no size in the dict

Akym
Akym 26
None

In [ ]:
#how to copy a dictionary to another dictionary

my_dict2 = my_dict.copy()
my_dict3 = my_dict.copy()

print(my_dict2)
print(my_dict3)

{'Name': 'Akym', 'Age': 26, 'Marital_status': True, 'Height': 70.8, 'occupation': 'data analyst'}
{'Name': 'Akym', 'Age': 26, 'Marital_status': True, 'Height': 70.8, 'occupation': 'data analyst'}

In [ ]:
#how to remove everything in a dictionarry

my_dict2.clear()                #clear removes everything in a dictionary

print(my_dict2)

{}

In [ ]:
#ow to update a dictionarry
#update method
#we use the update method to add dict to dict
#just like we use extend method to adda list to a list

my_dict4 = {'course' : 'hydrology', 'girl_friend' : 'iradat'}
my_dict.update(my_dict4)

print(my_dict)

{'Name': 'Akym', 'Age': 26, 'Marital_status': True, 'Height': 70.8, 'occupation': 'data analyst', 'course': 'hydrology', 'girl_friend': 'iradat'}