# **FUNCTION**

*   Ever since we av been writing code, we call it out
*   But function is the way we simplify our code

In [ ]:
#find the highest mnumber in a list udsing the max function
#inbuilt function

my_list = [2,9,47,8,11,50]
max_number = max(my_list)
print (max(my_list))

50

In [ ]:
#using the sorted method and indexing to find the highest mnumber in a list

my_list_sort = sorted(my_list, reverse = True)
max_number = my_list_sort[0]
print (max_number)

50

In [ ]:
##using the reverse method and indexing to find the highest mnumber in a list

my_list.reverse()
max_number = my_list[0]
print (max_number)

50

In [ ]:
##using the sort method and indexing to find the highest mnumber in a list
my_list.sort()
max_number = my_list[-1]
print (max_number)

50

In [ ]:
##using the FOR LOOP method to find the highest mnumber in a list

highest_number = my_list [0]

for num in my_list:
  if num > highest_number:
    highest_number = num

print('The highest number is:', highest_number)

The highest number is: 50

# **FUNCTION DECLARATION**

*   When we want to write a function, we start with #def
*   Followed by the function name with open bracket
- The **return** is used to return a value/an answer... is it more like the print function

In [ ]:
def function_name_example ():
  print ('This is a function')

In [ ]:
function_name_example()

This is a function

In [ ]:
#fnction to add two numbers together

def add_numbers (a,b):        #parameter
  c = a + b
  return c

c = add_numbers (4,5)         #argument

print(c)

9

In [ ]:
num1 = 20
num2 = 40

result = add_numbers(num1,num2)
print(result)

60

In [ ]:
#making it interactive

num3 = int(input('Enter any number: '))
num4 = int(input('Enter any number: '))

result = add_numbers(num3,num4)
print()
print (f'The answer is {result}')

Enter any number: 500
Enter any number: 600

The answer is 1100

In [ ]:
#Creating a function to greet

def greet(name):                          ##parameter
  return f'hello "{name}"'                ##because we are using return, we av to save whatever comes from it as a varaible



user = input ('Enter your name: ')            #argument     #this is the variable       #the varaible is an argument
output = greet (user)
print(output)                                 #it will print whatever name inputed into the variable

Enter your name: akym
hello "akym"

In [ ]:
#Another_example
Another_example = greet('tobi')
print (Another_example)

hello "tobi"

In [ ]:
def max (listt):
  max = listt[0]

  for num in listt:
    if num > max:
      max = num

  return f'The highest number is:', max


my_list = [2,9,47,11,50]
highest_number = max(my_list)

print (highest_number)

('The highest number is:', 50)

In [ ]:
def max_number (listt_of_numbers):
  highest_number = listt_of_numbers[0]

  for num in listt_of_numbers:
    if num > highest_number:
      highest_number = num

  print ('The highest number is:', highest_number)


my_list = [2,9,47,11,50]
max_number(my_list)                #max_number is the function created

The highest number is: 50

# **PRACTICE**

A PROGRAM To allow a user to enter the number of sequence of digit they want to input and then find out the maximum number using a function

Steps:
*   Create a function to find max
*   Create a loop to determine the input of number
- Find the maximum of the numbers and return the answer

In [ ]:
## how to create a program where users enter a list of numbers and when they are done, we will find the highest

def max_number ():
  list1 = list (map(int, input ('please enter multiple values seperated by space: ').split(' ')))             #mapping: its applies a function on a list of iteration
  max = list1[0]
  for t in list1:
    if t > max:
      max = t
  return max

In [ ]:
result = max_number()
print (result)

please enter multiple values seperated by space: 1 58 689 7 95 878 89
878

In [ ]:
## how to create a program where users enter a list of numbers and when they are done, we will find the highest

def max_number ():
  list1 = list (map(int, input ('please enter multiple values seperated by space: ').split(' ')))
  return max (list1)

result2 = max_number()
print (result2)

please enter multiple values seperated by space: 10 20 30 40 50
('The highest number is:', 50)

# **MAPPING**

*   Applies a function on an iterable
*   We can use map to change the values of a column

In [ ]:
#function to find the square rooot of a number

def square_root (number):
  return number **2

Result = square_root (50)
print (Result)

2500

In [ ]:
#function to calculate the square rooot of a number

def square_num (number):
  return pow (number, 2)            #pow means power, which means raised to the power of 2

Result3 = square_num (100)
print (Result3)

10000

In [ ]:
listed_numbers = [2,3,4,5,6,7,8,9,50,5,3,7,6]

listed_num = []

for x in listed_numbers:
  listed_num.append (square_num(x))

print (listed_num)

[4, 9, 16, 25, 36, 49, 64, 81, 2500, 25, 9, 49, 36]

# **MORE ON FUNCTION**

In [ ]:
def greet (name):
  return f'hello, {name}'

print (greet ('akym'))

hello, akym

In [ ]:
#calculator function
#in this case, the user will enter the operator they want to use

def calculate(num1, num2, operator):
  if operator == '+':
    return num1 + num2
  elif operator == '-':
      return num1 - num2
  elif operator == '*':
      return num1 * num2
  elif operator == '/':
      if num2 != 0:                         #you can divide by 0
        return num1 / num2
      else:
        return 'cannot divide by 0'
  else:
    return 'invalid operartor'

In [ ]:
result4 = calculate(2,4, '+')                          # num1 = 2, num 2= 4, '+' is the arithmethic operator
print (result4)

print()

result5 = calculate(2,4, '-')                          # num1 = 2, num 2= 4, '-' is the arithmethic operator
print (result5)

print()

result6 = calculate(2,4, '*')                          # num1 = 2, num 2= 4, '*' is the arithmethic operator
print (result6)

print ()

result7 = calculate(2,4, '/')                          # num1 = 2, num 2= 4, '/' is the arithmethic operator
print (result7)

6

-2

8

0.5

In [ ]:
#using the input method to make it interactive
num4 = int (input ('Enter any number: '))
num5 = int (input ('Enter any number: '))
operator = (input ('Enter operator: '))


result8 = calculate (num4, num5, operator)

print()
print (result8)

Enter any number: 500
Enter any number: 50
Enter operator: /

10.0

In [ ]:
#pallindrome checker

def is_it_a_pallindrome (string):
	clean_string = ''.join(string.split()).lower()
	return clean_string == clean_string[::-1]

parallindrome_checker = is_it_a_pallindrome ('level')
print (parallindrome_checker)

True

In [ ]:
#factorial checker

def factorial (n):
	if n == 0 or n == 1:
		return 1
	else:
		return n * factorial (n - 1)

In [ ]:

#factorial checker

def factorial (n):
	if n== 0 or n ==1:
		return 1
	else:
		return n * factorial (n - 1)

factorial_checker = factorial (5)				#meaning 5*4*3*2*1
print (factorial_checker)

120

In [ ]:
list4 = [2,3,4,5,6,79,19,17,13,35,37,38,25,68,11,23,25,28,12,10,8,9,5,7]

list4.sort()
print(list4)

[2, 3, 4, 5, 5, 6, 7, 8, 9, 10, 11, 12, 13, 17, 19, 23, 25, 25, 28, 35, 37, 38, 68, 79]

In [ ]:
## how to print even and odd numbers from a list

even_list = []

for number in list4:
  if number % 2 == 0:
    even_list.append(number)

print(even_list)

print()

#using list comp
even_list_comp = [number for number in list4 if number % 2 == 0]
print (even_list_comp)

print()

odd_list = []

for number in list4:
  if not number % 2 == 0:
   odd_list.append(number)

print(odd_list)

print()

#using list comp
odd_list_comp = [number for number in list4 if not number % 2 == 0]
print (odd_list_comp)

[2, 4, 6, 8, 10, 12, 28, 38, 68]

[2, 4, 6, 8, 10, 12, 28, 38, 68]

[3, 5, 5, 7, 9, 11, 13, 17, 19, 23, 25, 25, 35, 37, 79]

[3, 5, 5, 7, 9, 11, 13, 17, 19, 23, 25, 25, 35, 37, 79]

In [ ]:
#list comprehension
#list comprehension means putting all your codes in one line

def even_squares (numbers):
	return [x ** 2 for x in numbers if x % 2 == 0]							# for every even number in a list, it will square them


def odd_squares (numbers):
	return [x ** 2 for x in numbers if not x % 2 == 0]							# for every odd number in a list, it will square them
numbers_squared_even =  even_squares (list4)
numbers_squared_odd =  odd_squares (list4)

print (numbers_squared_even)
print ()
print (numbers_squared_odd)

[4, 16, 36, 64, 100, 144, 784, 1444, 4624]

[9, 25, 25, 49, 81, 121, 169, 289, 361, 529, 625, 625, 1225, 1369, 6241]

In [ ]:
#using list comprehension

list_comp = [ number for number in range (11)]
print (list_comp)

##using normal way
list5 = []

for number in range (11):
  list5.append (number)

print (list5)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
## leap year checker

def leap_year_check (year):
  if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    return f'{year} is a leap year'
  else:
    return f'{year} is not a leap year'

print (leap_year_check(2020))
print (leap_year_check(2034))
print (leap_year_check(2026))
print (leap_year_check(2060))
print (leap_year_check(2056))
print (leap_year_check(1997))

2020 is a leap year
2034 is not a leap year
2026 is not a leap year
2060 is a leap year
2056 is a leap year
1997 is not a leap year

In [ ]:
## temperature converter

def celcius_to_fahrenheit (celcius):
	return (celcius * 9/5) + 32

def fahrenheit_to_celcius (fahrenheit):
	return (fahrenheit - 32) * 5/9

print (celcius_to_fahrenheit (0))
print (fahrenheit_to_celcius (32))

32.0
0.0

In [ ]:
## prime number checker

def is_prime (number):
	if number <=1:
		return False
	for i in range (2, int (number ** 0.5) +1):
		if number % i == 0:
			return False
	return True

print (is_prime (17))
print (is_prime (20))

True
False

In [ ]:
## list reversal

def list_reversal (liistt):
	reversed_list = []
	for item in liistt:
		reversed_list.insert(0, item)
	return reversed_list


print (list_reversal([1,2,3,4]))

[4, 3, 2, 1]