<a href="https://colab.research.google.com/github/HakeemSalaudeen/PYTHON-FOR-DATA-ANALYSIS-/blob/main/VARIABLES_AND_LOGICAL_OPERATORS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **VARIABLES**

In [ ]:
#variable typees in python
num_of_phone = 2                             #integer
name_of_phone = 'andriod, ios'               #string
height = 60.7                                 #float
profile = True                                #bool

print (name_of_phone)
print (num_of_phone)
print (height)
print (profile)
print (name_of_phone[2])
print (name_of_phone, num_of_phone, height, profile )

andriod, ios
2
60.7
True
d
andriod, ios 2 60.7 True

In [ ]:
##arithmethic operators in python
x = 50
y = 3

print (x+y)                       #addition
print (x*y)                       #multiplication
print (x-y)                       #subtraction
print (x/y)                       #division
print (x//y)                      #floor
print (x**y)                      #exponential
print (x%y)                       #modulus
print (x*x*x)                     #raise to power

53
150
47
16.666666666666668
16
125000
2
125000
55

In [ ]:
#concertenate
first_name = 'Abdulhakeem'
last_name = 'salaudeen'
middle_name = 'oluwatobi'
ful_name = first_name + ' ' + last_name + ' ' + middle_name

print(first_name + ' ' + last_name + ' ' + middle_name)
print (ful_name)

Abdulhakeem salaudeen oluwatobi
Abdulhakeem salaudeen oluwatobi

In [ ]:
#using multiplicsation to create dash
print('-' *50)
print('=' *50)
print('_' *50)
print('/' *50)
print('*' *50)

--------------------------------------------------
==================================================
__________________________________________________
//////////////////////////////////////////////////
**************************************************

# **strip, split, title, lower, upper**

In [ ]:
#strip, split, title, lower, upper, find
home_address = '2b, emeka nweze street, admiralty, lekki, lagos state.'
home_address2 = '             2b, emeka nweze street, admiralty, lekki, lagos state.'
print (home_address)
print (home_address.title())                                     #proper casing
print ('\n')                                                     #new line
print (home_address.upper())                                     #capital letters
print (home_address.lower())                                     #small letters
print (home_address.split(','))                                  #split the string
print (home_address2.strip())                                    #remove spaces
print (len(home_address2), len(home_address))                    #count the number of character in a string
print (home_address.split(',') [-2])                             #indexing in a list

2b, emeka nweze street, admiralty, lekki, lagos state.
2B, Emeka Nweze Street, Admiralty, Lekki, Lagos State.


2B, EMEKA NWEZE STREET, ADMIRALTY, LEKKI, LAGOS STATE.
2b, emeka nweze street, admiralty, lekki, lagos state.
['2b', ' emeka nweze street', ' admiralty', ' lekki', ' lagos state.']
2b, emeka nweze street, admiralty, lekki, lagos state.
67 54
 lekki

In [ ]:
#to give space in python print('\n')
#it means next line

In [ ]:
#print format
#calcuylator to add two numbers
num1 = 2
num2 = 4
result  = num1 + num2

print(result)
#to add print format so it can present the result in a perfect way
print('the answer is ' + str(result) )
print ('the answer is {}'. format(result))
print ('The addition of {} and {} is {}'.format(num1, num2, result))
print (f'The addition of {num1} and {num2} is {result}')

6
the answer is 6
the answer is 6
The addition of 2 and 4 is 6
The addition of 2 and 4 is 6

In [ ]:
#input format
#CALCULATOR TO ADD TWO NUMBERS

num1 = int(input("Enter the first number: ") )
num2 = 6
result = num1 + num2
print (f'The addition of {num1} and {num2} is {result}')


num1 = int(input("Enter the first number: ") )
num2 = int(input("Enter the second number: ") )
result = num1 + num2
print (f'The addition of {num1} and {num2} is {result}')

Enter the first number: 20
The addition of 20 and 6 is 26
Enter the first number: 20
Enter the second number: 50
The addition of 20 and 50 is 70

In [ ]:
#relational operators /control flow statement

# greater than  <<
num3 = int(input('enter num3: '))
num4 = int(input('enter num4: '))

if num3 > num4:
  print('yes')
else:
  print('no')

enter num3: 30
enter num4: 60
no

In [ ]:
# less than  or = <<
num3 = int(input('enter num3: '))
num4 = int(input('enter num4: '))

if num3 <= num4:
  print('yes')
else:
  print('no')

enter num3: 40
enter num4: 40
yes

# **LOGICAL OPERATORS**

*   AND
*   OR
-NOT

In [ ]:
# AND operator
#it is TRUE if both expression are TRUE, otherwise it is FALSE

num3 = int(input('enter num3: '))
num4 = int(input('enter num4: '))
num5 = int(input('enter num5: '))
num6 = int(input('enter num6: '))

if (num3 != num4) and (num5 != num6):
  print('yes')
else:
  print('no')

enter num3: 20
enter num4: 30
enter num5: 40
enter num6: 50
yes

In [ ]:
# OR operator
#it is TRUE if one expression is TRUE, otherwise it is FALSE

num3 = int(input('enter num3: '))
num4 = int(input('enter num4: '))
num5 = int(input('enter num5: '))
num6 = int(input('enter num6: '))

if (num3 != num4) or (num5 != num6):
  print('yes')
else:
  print('no')

enter num3: 20
enter num4: 20
enter num5: 30
enter num6: 30
no

In [ ]:
# NOT operator
#It negates the result of an expression

num3 = int(input('enter num3: '))
num4 = int(input('enter num4: '))
num5 = int(input('enter num5: '))
num6 = int(input('enter num6: '))

if not((num3 >= num4) and (num5 != num6)):
  print('yes')
else:
  print('no')

enter num3: 50
enter num4: 20
enter num5: 60
enter num6: 50
no

# ***ASSIGNMENT ***

In [ ]:
#Compound Interest

principal = int(input('enter the principal amount: '))
rate = int(input('enter the rate amount: '))
time = int(input('enter the time amount: '))


Compound_Interest = (principal * (1+rate/100)**time)

print ('\n')
print(Compound_Interest)
print ('\n')
print(f'Compound_Interest after {time}years of {principal}naira loan obtained at an annual interest of {rate}% is {round(Compound_Interest,2)} naira')

enter the principal amount: 2000
enter the rate amount: 20
enter the time amount: 5


4976.6399999999985


Compound_Interest after 5years of 2000naira loan obtained at an annual interest of 20% is 4976.64 naira

In [ ]:
##Check voting eligiblity in election

Acceptable_voting_age = 18
voters_name1 = str(input('Enter voters name: '))
voters_age1 = int(input('Enter voters age: '))

print ('\n')
if voters_age1 >= Acceptable_voting_age:
  print(f'{voters_name1} is eligible')
else:
   print(f'{voters_name1} is not eligible')

Enter voters name: Akym
Enter voters age: 26


Akym is eligible

In [ ]:
from re import A
## How to swap values between two variables without using temporay varaibles

a=10
b=15

c=a
d=b

a=d
b=c

print(a,b)


#ANOTHER WAY OF SWAPPING VARIALES
a=10
b=15

a, b= b, a

print(f'a={a}')
print(f'b={b}')

15 10
a=15
b=10